﻿<form class="form-horizontal" name="imagesForm" ng-submit="imagesForm.$valid && vm.submit()" novalidate>
    <div class="form-group">
        <label class="col-md-2 control-label" for="images">Images</label>

        <div class="col-md-10">
            <textarea id="images" ng-model="vm.urls" required></textarea>
            Enter the url of each image on a seperate line.
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default">Add</button>
        </div>
    </div>
</form>
