﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.ng-invalid.ng-dirty, .ng-submitted .ng-invalid {
    border-color: red;
}

textarea {
    height: 200px;
    width: 100%;
}

.image-rater img {
    max-width: 1170px;
}

.rated-images img {
    max-width: 120px;
    margin: 5px;
}