﻿<div class="jumbotron">
    <h1>Image Rater</h1>
    <p class="lead">Rate images</p>
</div>
<div class="row">
    <div class="col-md-12" ui-view></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/angular")
    
    <script>
        (function () {
            angular.module('app', ['ui.router'])
                .run(function ($rootScope, $anchorScroll, $window, $state, appData) {

                    $rootScope.$on('$locationChangeSuccess', function () {
                        $anchorScroll();
                        if (!appData.user && $state.current.name !== 'user') {
                            $state.go('user');
                        }
                    });

                    $rootScope.$on('$stateChangeSuccess', function () {
                        var pageTitle = 'Image Rater';
                        if ($state.current.data && $state.current.data.pageTitle) {
                            pageTitle = $state.current.data.pageTitle + ' - ' + pageTitle;
                        }
                        $window.document.title = pageTitle;
                    });
                })
                .config(function ($urlRouterProvider, $locationProvider) {
                    $urlRouterProvider.otherwise('/');
                    $locationProvider.html5Mode(true);
                })
                .constant('appData', {});
        })();

        $(document).on('click', '.navbar-collapse.in', function (e) {
            if ($(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle') {
                $(this).collapse('hide');
            }
        });
    </script>
    @Scripts.Render("~/bundles/app")
}