﻿<div ng-show="vm.image" class="image-rater">
    <p>
        Do you like this image?
    </p>
    <p>
        <button type="button" class="btn btn-default btn-sm" ng-click="vm.yes()">
            <span class="glyphicon glyphicon-thumbs-up"></span> Like
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="vm.no()">
            <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
        </button>
    </p>
    <img src="{{vm.image.url}}" />
</div>
<div ng-show="vm.noImages">
    No images to rate, add some from the images view.
</div>