﻿<div class="rated-images">
    <h2>Liked</h2>
    <img ng-repeat="url in vm.ratings.liked" src="{{url}}" />
    <span ng-show="!vm.ratings.liked.length">No liked images</span>
    <h2>Disliked</h2>
    <img ng-repeat="url in vm.ratings.disliked" src="{{url}}" />
    <span ng-show="!vm.ratings.disliked.length">No disliked images</span>
</div>