﻿<form class="form-horizontal" name="userForm" ng-submit="userForm.$valid && vm.submit()" novalidate>
    <div class="form-group">
        <label class="col-md-2 control-label" for="nickName">Nickname</label>

        <div class="col-md-10">
            <input type="text" id="nickName" ng-model="vm.nickName" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
